div {
  display: block;
}   

#header {
  z-index: 1;
  position: relative;
  height: 650px;
  margin-bottom: -100px;
}

#bgimage {
  margin: 0;
}

#bgimage li {
  position: absolute;
  z-index: 80;
  height: 100%;
  width: 100%;
  top: -100px;
  overflow: hidden;
  background: #000;
}

#bgimage li img {
  position: absolute;
  float: none;
  width: 100%;
  height: 750px;
  margin-left: 0 auto;
}

.search-form {
  z-index: 160;
  position: absolute;
  height: 300px;
  width: 100%;
  padding-top: 150px;
}

.contained {
  position: relative;
  width: 400px;
  margin: 0 auto 0 auto;  
}

.formc {
	margin-bottom: 5px;
}

.well {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
}

.centered {
    float: none;
    margin: 0 auto;
}
.centered img {
  padding-left: 10px;
}        

#vehicles-list {
  margin: 10px 0px;
}
#vehicles-list div.vehicle {
  position: relative;
}
#vehicles-list article {
  border: 0px;
  margin: 5px 0px;
  background: #fff;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}
#vehicles-list div.vehicle-header {
  padding: 5px 15px;
  background-color: #efefef;
  margin: 0 0 19px;
}
#vehicles-list div.vehicle-info {
  padding-right: 0;
  padding: 0 15px;
}
#vehicles-list figure {
  width: 60%;
  float: left;
}
#vehicles-list img, #vehicles-list div.image {
  width: 220px;
  float: left;
}
#vehicles-list figcaption {
  margin-left: 220px;
} 
#vehicles-list div.details {
  margin-left: 19px;
  margin-top: 0px;
  padding-bottom: 10px;
  float: none;
  text-align: left;
}
#vehicles-list h1 {
  display: inline;
  padding-left: 0px;  
  font-size: 1.3em;
  line-height: 1em;
  margin: 0;
}
#vehicles-list div.pricing {
  width: 40%;
  margin-top: 0px;
  float: left;
  position: relative;
}
#vehicles-list div.pricing div {
  font-size: 13px;
  padding-bottom: 10px;
}
#vehicles-list div.pricing div.wrapper {
  margin-left: 10px;
  border: 0px;
  background-color: transparent;
  padding: 0px 0px 30px 0px;
  overflow: hidden;
}
#vehicles-list button.priced {
  position: absolute;
  bottom: 0px;
}
#vehicles-list button {
  float: none;
}
#vehicles-list strong.price {
  font-size: 1.8em;
  font-weight: normal;
}
