div {
  display: block;
}   

.background-image {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
}

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding: 0px 0px 0px 50px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('/images/error.png');
}

#header {
  z-index: 1;
  position: relative;
  height: 650px;
  margin-bottom: -100px;
}

#bgimage {
  margin: 0;
}

#bgimage li {
  position: absolute;
  z-index: 80;
  height: 100%;
  width: 100%;
  top: -100px;
  overflow: hidden;
  background: #000;
}

#bgimage li img {
  position: absolute;
  float: none;
  width: 100%;
  height: 750px;
  margin-left: 0 auto;
}

.search-form {
  z-index: 160;
  position: absolute;
  height: 300px;
  width: 100%;
  padding-top: 150px;
}

.contained {
  position: relative;
  width: 400px;
  margin: 0 auto 0 auto;  
}

.formc {
  margin-bottom: 5px;
}

.well {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
}

.centered {
  text-align: center;
  margin: 0 auto 0 auto; 
  float: center;
}
.company {
  width: 140px;
  height: 100px;
  margin-left: 35px;
  background-color: #fff;
}

.company img {
  margin-top: 25px;
}

#vehicles-list {
  margin: 10px 0px;
}
#vehicles-list div.vehicle {
  position: relative;
}
#vehicles-list article {
  border: 0px;
  margin: 5px 0px;
  background: #fff;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}
#vehicles-list div.vehicle-header {
  padding: 5px 15px;
  background-color: #efefef;
  margin: 0 0 19px;
}
#vehicles-list div.vehicle-info {
  padding-right: 0;
  padding: 0 15px;
}
#vehicles-list figure {
  width: 60%;
  float: left;
}
#vehicles-list img, #vehicles-list div.image {
  width: 180px;
  float: left;
}
#vehicles-list figcaption {
  margin-left: 220px;
} 
#vehicles-list div.details {
  margin-left: 19px;
  margin-top: 0px;
  padding-bottom: 10px;
  float: none;
  text-align: left;
}
#vehicles-list h1 {
  display: inline;
  padding-left: 0px;  
  font-size: 1.3em;
  line-height: 1em;
  margin: 0;
}
#vehicles-list div.pricing {
  width: 40%;
  margin-top: 0px;
  float: center;
  position: relative;
}
#vehicles-list div.pricing div {
  font-size: 13px;
  padding-bottom: 10px;
}
#vehicles-list div.pricing div.wrapper {
  margin-left: 10px;
  border: 0px;
  background-color: transparent;
  padding: 0px 0px 30px 0px;
  overflow: hidden;
}
#vehicles-list a.priced {
  position: absolute;
  bottom: 0px;
}
#vehicles-list a.priced {
  float: none;
}
#vehicles-list strong.price {
  font-size: 1.8em;
  font-weight: normal;
}
#logo {
  margin-top: -18px; 
  margin-bottom: -35px;
}

.resultform {
	margin-bottom: 5px;
}

.glyphicon {
	padding-right: 0;
}

.col-lg-6 {
	width: 43%;
	margin-right: -4px;
}